:root {
  --primary-color: #8dd9de;
  --secondary-color: #d9d9d9;
  --bg-color: #d9d9d9;
  --bg2-color: #e8cbcb;
  --bold-text: 700;
  --cta-bg-color: #8dd9de;
  --darker-color: #4ED2CA;
  --failed-color: #ea8c8c;
  --font-heading-size: 25px;
  --font-text-size: 18px;
  --fonts: 'Rubik', sans-serif;
  --game-bg-color: #eee;
  --heading-color: #373737;
  --progressbar: #8dd9de;
  --router-active-color: #ea8c8c;
  --success-color: #54cd84;
  --text-color: #000000;
}

/*General styling*/
* {
  border: 0;
  box-sizing: border-box;
  border-style: none;
  font-family: var(--fonts);
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

button, .buton{
  cursor: pointer;
}

/*header*/
.heading-overview {
  background: rgb(168, 228, 192);
  background: radial-gradient(circle,rgba(168, 228, 192, 1) 35%, rgba(78, 210, 202, 1) 100%);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  width: 100%;
}

/*Member style*/
.login-page, .flashcards-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.section1 {
  background: rgb(168, 228, 192);
  background: radial-gradient(circle, rgba(168, 228, 192, 1) 35%, rgba(78, 210, 202, 1) 100%
  );
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  max-width: 100%;
  text-align: center;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

form, .account{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email, .password {
  background-color: var(--secondary-color);
  border: none;
  margin-bottom: 15px;
  margin-top: 15px;
  outline: 0;
  padding: 15px;
  text-align: center;
}

.btn-login {
  background-color: var(--cta-bg-color);
  border: none;
  font-weight: var(--bold-text);
  margin-bottom: 15px;
  margin-top: 15px;
  min-width: 300px;
  padding: 15px;
}

.forgot-password{
  color: var(--heading-color);
  font-size: var(--font-text-size);
  text-align: center;
  text-decoration: none;
}

.reset-password{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-width: 100%;
}

/*Fotgot Passsword*/
.section-forgot-password{
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}
.forgot-password-form{
  margin: 0 auto;
  width: 300px;
}
/*settings style*/
.settings-box {
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin: 0px 30px auto; */
  margin: 50px 30px auto 30px;
  /* height: 330px; */
  min-height: 50vh;
  min-width: -webkit-fill-available;
  position: absolute;
  /* top: 150px; */
}
/*reporter et problem style*/
.settings-box-report {
  display: flex;
  flex-direction: column;
  height: 330px;
  justify-content: space-evenly;
  /* margin: 0px 30px auto; */
  margin: 50px 30px auto 30px;
  min-height: 50vh;
  min-width: -webkit-fill-available;
  position: absolute;
  /* top: 160px; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .logo{
    background: rgb(168, 228, 192);
    height: auto;
    width: 30vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo{
    background: rgb(168, 228, 192);
    height: auto;
    width: 10%;
  }

  .heading-overview {
    background: rgb(168, 228, 192);
    background: radial-gradient(circle, rgba(168, 228, 192, 1) 35%, rgba(78, 210, 202, 1) 100%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo{
    background: rgb(168, 228, 192);
    height: auto;
    width: 20%;
  }

  .heading-overview {
    background: rgb(168, 228, 192);
    background: radial-gradient(circle, rgba(168, 228, 192, 1) 35%, rgba(78, 210, 202, 1) 100%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
  }

  .settings-box, .settings-box-report {
    margin-top: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {
  .logo{
    background: rgb(168, 228, 192);
    height: auto;
    width: 10%;
  }

  .heading-overview {
    background: rgb(168, 228, 192);
    background: radial-gradient(circle, rgba(168, 228, 192, 1) 35%, rgba(78, 210, 202, 1) 100%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-align: center;
  }
  
  .settings-box, .settings-box-report {
    margin-top: 30px;
  }

  form {
    margin-top: 50px;
  }
}
