:root {
    --primary-color: #8dd9de;
    --secondary-color: #D9D9D9;
    --bg-color: #D9D9D9;
    --bg2-color: #E8CBCB;
    --cta-bg-color: #8dd9de;
    --progressbar: #8dd9de;
    --heading-color: #0e3f41;
    --text-color: #1221227d;
  }