:root {
  --primary-color: #8dd9de;
  --secondary-color: #d9d9d9;
  --bg-color: #d9d9d9;
  --bg2-color: #e8cbcb;
  --cta-bg-color: #8dd9de;
  --router-active-color: #ea8c8c;
  --progressbar: #8dd9de;
  --heading-color: #373737;
  --text-color: #000000;
  --bold-text: 700;
  --fonts: "Times New Roman", Times, serif;
  --success-color: #54cd84;
  --failed-color: #ea8c8c;
  --circle-color: #758e8f;
  --font-heading-size: 25px;
  --font-text-size: 18px;
}

